<h1 style="font-size: 70px">Gli amici</h1>
<h1 style="font-size: 40px;">Les vacances en direction de Milan commencent dans : </h1>
<h1 style="font-size: 60px;" *ngIf="diff">{{ diff.format('DD') }} Jour{{ diff.format('DD') > 1 ? 's' : '' }} {{ diff.format('HH') }} Heure{{ diff.format('HH') > 1 ? 's' : '' }} {{ diff.format('mm') }} Minute{{ diff.format('mm') > 1 ? 's' : '' }} et {{ diff.format('ss') }} Seconde{{ diff.format('ss') > 1 ? 's' : '' }}</h1>
<h2 style="font-size: 50px"></h2>
<a href="https://www.airbnb.fr/rooms/50015873" target="_blank">
  <img height="300" src="https://static3.depositphotos.com/1000747/223/v/600/depositphotos_2231828-stock-illustration-pizza-chef.jpg" width="300">
</a>
<p style="font-weight: bold;">
  Clique sur le pizzaïolo pour voir notre petit Airbnb !
</p>
<h2 style="font-size: 50px">A presto !</h2>

